/* Dưới đây là phần css của giỏ hàng */
.card-btn-color {
  background-color: #f29f05 !important;
  border-color: #f29f05 !important;
  color: rgb(0, 0, 0) !important;
}

.card-btn-color:hover {
  background-color: #d88c04 !important;
  border-color: #d88c04 !important;
}

tbody tr td img {
  width: 100%;
  height: auto; 
  max-width: 150px; 
  object-fit: cover; 
}
/* Kết thúc phần css của giỏ hàng */
