/* css của phầN giỏ hàng */
.card-btn-color {
  background-color: #f29f05 !important;
  border-color: #f29f05 !important;
  color: rgb(0, 0, 0) !important;
}

.card-btn-color:hover {
  background-color: #d88c04 !important;
  border-color: #d88c04 !important;
}

tbody tr td img {
  width: 100%;
  height: auto; 
  max-width: 150px; 
  object-fit: cover; 
}
/* kết thúc css phần giỏ hàng */

/* vị trí dưới là css cho phần thanh toán thành công (bill) */
#box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-box {
  font-family: Arial, sans-serif;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  border: 1px solid sandybrown;
}

#pay-succes{
  color: darkorange;
  margin-bottom: 20px;
}


.success-icon {
  width: 80px;
  margin-bottom: 20px;
}


#detail {
  margin-top: 1 0px;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.item-img {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-right: 15px;
}


.item-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item-info span {
  font-size: 16px;
  color: coral;
}

.total-amount {
  color: coral;
  font-weight: bold;
}
/* Nút "X" sát viền trên và phải của khung */
.success-message {
  position: relative;
  margin: 50px auto;
}

.close-btn {
  position: absolute;
  top: -549px; 
  right: -31px; 
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid sandybrown;
  color: #de700f;
  cursor: pointer;
  background-color: #fff; 
  padding: 5px;
}

.close-btn:hover {
  background-color: #ffe5d1; 
}

/* kết thúc css thanh toán thành công */